p {
    font-size:30px;
}

div {
    width:300px;
    height:100px;
    background-color:yellow;
    border:1px solid black;
}

.rotated {
    transform: rotateX(180deg);
}

h1 {
    text-decoration: overline;
    text-transform: capitalize;
}

h2 {
    text-decoration: line-through;
    text-transform: uppercase;
}