.box {
    background-color:yellow;
    width:200px;
    border:1px solid black;
    padding:5px;
    text-align:center;
    margin:5px;
}   

body {
    margin:0px;
}

img {
    float: left;
}